:root
{
    --theme-back: #000000;
    --theme-object: #000000;
    --theme-highlight: #000000;
    --theme-text: #000000;
}

#board tr
{
    height: 100px;
}

#board tr th
{
    width: 100px;
}

#board
{
		margin-right: 16px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

*
{
    color: var(--theme-text);

    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: var(--theme-back);
}

button
{
    height: 75px;
    width: 75px;

    border-radius: 12px;

    border: 0px solid #000000;

    font-size: xx-large;
    font-style: bold;

    background-color: var(--theme-object);
}

button:hover
{
    background-color: var(--theme-highlight);
}

#reset
{
    height: 50px;
    width: 150px;
}

.win
{
    border-radius: 12px;

    background-color: #9DB17C;
}

.lol
{
    border-radius: 12px;

    background-color: #b86868;
}

.predict
{
	border-radius: 12px;

    background-color: #9DB17C;
}