#board tr
{
    height: 100px;
}

#board tr th
{
    width: 100px;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

*
{
    background-color: #231F20;

    color: white;

    font-family: 'Roboto', sans-serif;
}

button
{
    height: 75px;
    width: 75px;

    border-radius: 12px;

    border: 0px solid #000000;

    font-size: xx-large;
    font-style: bold;

    background-color: #ec5020;
}

#reset
{
    height: 50px;
    width: 150px;
}